/**** AnimeReact General styles ****/

body {
  background-color: #212529 !important;
}

/* Menu */

.mainContainer {
  height: 100% !important;
  padding-bottom: 8vh;
  padding-top: 5vh;
  background: #ffcf31;
  color: #331e6d;
  font-family: 'Raleway', sans-serif;
}

/* Section title */

h2 {
  font-weight: bold !important;
}

/* Form styling */

form {
  width: 50%;
  margin: 0 auto;
}

button.btn-primary {
  background: #331e6d;
  border: none;
}

button.btn-primary:hover, button.btn-primary:focus, button.btn-primary:active, button.btn-primary.active {
  color: #fff;
  background: #212529;
  border: none;
}

.termsText {
  color: #88806d;
}